<div class="container">
  <input matInput placeholder="Find your location" autocomplete="off" [(ngModel)]="city">
  <div class="find-location">
      <button class="find-btn" (click)="getWeather(1)">Today</button>
      <button class="find-btn" (click)="getWeather(3)">3 Days</button>
      <button class="find-btn" (click)="getWeather(10)">10 Days</button>
      <button class="find-btn" (click)="getWeather(16)">16 Days</button>
  </div>
  <div class="card-wrapper">
    <app-weather-card *ngFor="let weather of weatherData" [weather]="weather" [selectedCity]="selectedCity"></app-weather-card>
  </div>
</div>
