<mat-card>
  <mat-card-header>
    <mat-card-title>{{selectedCity}}'s weather</mat-card-title>
    <mat-card-subtitle>{{weather.valid_date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex-row">
      <div class="temp">
        <span class="big-text">{{weather.temp}} °C</span>
        <span>Clouds</span>
        <span>{{weather.clouds}}%</span>
      </div>
      <div class="outlook">
        <img [src]="'/assets/icons/'+weather.weather.icon+'.png'" alt="image">
        <span class="weather-desc">{{weather.weather.description}}</span>
      </div>
    </div>
    <div class="additional">
      <p>Wind direction: {{weather.wind_cdir_full}}</p>
      <p>Wind speed: {{weather.wind_spd}}m/s</p>
      <p>Average pressure: {{weather.pres}}mb</p>
      <p>Probability of Precipitation: {{weather.pop}}%</p>
      <p>Visibility: {{weather.vis}}km</p>
      <p>Average relative humidity: {{weather.rh}}%</p>
    </div>
  </mat-card-content>
</mat-card>
