mat-card {
  width: 300px;
  margin: 10px;
  opacity: 0.9;
}

mat-card::ng-deep.mat-card-header-text {
  width: 100%;
}

.flex-row {
  display: flex;

  > div {
    flex: 50%;
    border-radius: 10px;
    padding: 10px;
  }

  .outlook {
    color: black;
    background: rgba(0,0,0,0.1);
  }

  .temp {
    background: lightblue;
    color: black;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.big-text {
  font-size: 30px;
  margin-bottom: 5px;
}

.image {
  height: 80px;
}

.weather-desc {
  font-size: 12px;
}

.additional {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  background: #4f94d4;
}
